<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doggo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DoggoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Doggo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar">

        <!-- Intro Activity (Launcher) -->
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Activities -->
        <activity
            android:name=".SignInActivity"
            android:exported="false" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Home Activities -->
        <activity
            android:name=".Home.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".Home.AddDogProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.doggo.Home.DogProfileDetailActivity"
            android:exported="false" />

    </application>

</manifest>